body {
    margin: 0;
}

.title {
    text-align: center;
    background: #cfcfcf;
    margin: 0;
    padding: 1rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.cat-nav {
    flex: 25%;
    background: #929292;
    color: #ffffff;
}

.cat-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 75%;

}

.cat-img {
    width: 200px;
    height: 200px;
   
}

.clicker {
    font-size: 1em;
    text-align: center;
}