.title {
    text-align: center;
}

.cats {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cat-img {
    width: 80%;
    height: 200px;
   
}

.clicker {
    font-size: 1em;
    text-align: center;
}