body {
    margin: 0;
}

.title {
    text-align: center;
    background: #cfcfcf;
}

.cat-nav {
    flex: 25%;
    background: #929292;
    color: #ffffff;
}

.cat-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 75%;
}

.cat-img {
    width: 300px;
}

.clicker {
    font-size: 1em;
    text-align: center;
}